.store {
  width: 600px;
  .store-img {
    margin: 10px 0;
    width: 600px;
    height: 300px;
    background-color: #c6c6c6;
    object-fit: cover;
  }

  .store-main {
    margin-bottom: 20px;

    .store-title {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 600;

      .store-name {
        font-size: 24px;
      }

      .store-icon {
        width: 70px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .store-rate {
      margin: 5px 20px;
      font-size: 14px;
      color: #5c5c5c;
    }
    .store-detailContainer {
      display: flex;
      justify-content: space-between;
      height: 25px;
      .store-detail {
        display: flex;
        align-items: center;
        margin: 0 20px;

        .store-detailText {
          font-size: 14px;
          margin-right: 7px;
        }
        .store-detailNum {
          font-size: 12px;
          margin-right: 12px;
        }
      }
      .store-popup {
        width: 200px;
        padding: 0 10px;
        .store-popupText {
          text-align: right;
        }
      }
    }
  }
  .store-menu {
    margin: 0 20px;
    .store-menuTitle {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .store-menuAdd {
      width: 300px;
      height: 50px;
      background-color: black;
      color: white;
      margin: 30px 150px;
      font-size: 16px;
    }
  }
}
