.store {
  .store-main {
    width: 600px;
    margin: 20px 0;

    .store-basket {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 40px;
      top: 30px;
      left: 550px;
      background-color: rgba(141, 141, 141, 0.5);
      border-radius: 5px;
    }
    .store-basketCount {
      position: absolute;
      left: 25px;
      top: 0px;
      width: 14px;
      height: 14px;
      background-color: red;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .store-basketText {
        color: white;
        font-size: 10px;
        position: absolute;
      }
    }
    .store-title {
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 600;

      .store-name {
        font-size: 24px;
      }

      .store-icon {
        * {
          margin-left: 10px;
        }
      }
    }
    .store-rate {
      margin: 5px 20px;
      font-size: 14px;
      color: #8d8d8d;
    }
    .store-detail {
      display: flex;
      align-items: end;
      margin: 0 20px;

      .store-detailText {
        font-size: 14px;
        margin-right: 7px;
      }
      .store-detailNum {
        font-size: 12px;
        margin-right: 12px;
      }
    }
  }
  .store-menu {
    margin: 0 20px;
    .store-menuTitle {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .store-popup {
    width: 200px;
    height: 25px;
    position: absolute;
    top: 380px;
    left: 380px;
    .store-popupText {
      text-align: right;
    }
  }
}
