.StoreList {
    width: 600px;
    
    .storeList-header {

        .storeList-searchBar {

        }

        .storeList-img1 {
            width: 100%;
            height: 130px;
            margin-top: 20px;
        }
        .storeList-menuBar {
            margin-top: 20px;
        }
    }
    .storeList-category {
        width: 560px;
    }
    .storeList-storeTag {
        width: 560px;
    }
}