.menuBar {
    width: 100%;

    .menuBar-frame {
        width: 600px;

        .menuBar-margin{
            width: 450px;
            display: flex;
            margin: 0 auto;
            margin-bottom: 10px;
            align-items: center;
            justify-content: space-between;

            .menuBar-home {
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                font-family: 'Pretendard-Regular';                    
            }
            .menuBar-deliver {
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                font-family: 'Pretendard-Regular';                    
            }
            .menuBar-commu {
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                font-family: 'Pretendard-Regular';                    
            }
        }
        .menuBar-position {
            // position: relative;
            
            .menuBar-line {
                position: relative;
                width: 600px;
                height: 1px;
                border: 2px solid lightgray;
                border-radius: 50px;

                .menuBar-pageLine1 {
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    border: 2px solid;
                    border-radius: 50px;
                    top: -2px;
                    left: 30px;
                }
                .menuBar-pageLine2 {
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    border: 2px solid;
                    border-radius: 50px;
                    top: -2px;
                    left: 233px;
                }
                .menuBar-pageLine3 {
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    border: 2px solid;
                    border-radius: 50px;
                    top: -2px;
                    left: 450px;
                }
            }
        }
    }
}