.mylist {
  width: 600px;
  margin: 20px;
  justify-content: center;
  .mylistBlocks-row {
    width: 560px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between; 
  }
  
  .mylistBanner {
    background-color: #8d8d8d;
    width: 560px;
    height: 100px;
    margin-top: 40px;
  }
}
