.Community {
  .community-imageSlider {
    margin-top: 20px;
  }
  .community-menuBar {
    margin-top: 20px;
  }
  .community-weekSection {
    width: 560px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    flex-direction: column;
    .community-weekHeader {
      width: 560px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .community-weekBox {
        display: flex;
        .community-weekTitle {
          font-size: 16px;
          margin-right: 10px;
        }
      }
      .community-editIcon {
      }
    }

    .community-weekMiniPost {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  .community-dailySection {
    width: 560px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    flex-direction: column;

    .community-dailyHeader {
      width: 560px;
      height: 30px;
      display: flex;
      align-items: center;
      .community-dailyTitle {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    .community-dailyMiniPost {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  .community-newestSection {
    width: 560px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: column;

    .community-newestHeader {
      width: 560px;
      height: 30px;
      display: flex;
      align-items: center;
      .community-newestTitle {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    .community-newestMiniPost {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  .community-nothing {
    width: 500px;
    margin: 50px;
    text-align: center;
  }
}
