.CommunityCard {
  width: 270px;
  height: 160px;
  padding: 5px 10px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #c6c6c6;
}

.communityCard-header {
  display: flex;
  justify-content: space-between;

  .communityCard-profile {
    display: flex;
    align-items: center;

    .communityCard-profileImg {
      width: 24px;
      height: 24px;
      object-fit: cover;
      border-radius: 50px;
      margin-right: 5px;
    }
    .communityCard-profileName {
      font-size: 12px;
    }
  }
  .communityCard-icons {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    .communityCard-fontSize {
      display: flex;
      font-size: 12px;
      align-items: center;
      margin-right: 5px;
      * {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}

.communityCard-box {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 5px 0;
  text-align: left;
  .communityCard-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #c6c6c6;
    border-radius: 5px;
  }

  .communityCard-content {
    margin-left: 10px;
    &.noImage {
      margin: 0;
    }
    .communityCard-title {
      font-size: 16px;
    }
    .communityCard-text {
      width: 130px;
      height: 90px;
      font-size: 12px;
      text-align: left;
      overflow: hidden;
      word-wrap: break-word;
      &.noImage {
        width: 240px;
      }
    }
  }
}
