.cartlist-header {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.cartlist-info {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #c6c6c6;
  .cartlist-store {
    display: flex;
    align-items: center;
    .cartlist-storeImg {
      width: 30px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .cartlist-storeName {
      font-size: 18px;
    }
  }
  .cartlist-deliver {
    display: flex;
    align-items: center;
    .cartlist-deliverTime {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}
.cartlist-delete {
  margin: 0 20px;
  border-bottom: 1px solid #c6c6c6;
  text-align: right;
  .cartlist-deleteBtn {
    margin: 20px 0;
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #c6c6c6;
  }
}
.cartlist-menu {
  margin: 0 20px;
}
.cartlist-add {
  margin: 0 20px;
  border-bottom: 3px solid #c6c6c6;
  text-align: center;
  .cartlist-addBtn {
    margin: 20px 0;
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #c6c6c6;
  }
}
.cartlist-priceGroup {
  margin: 20px;
  border-bottom: 1px solid #c6c6c6;
  .cartlist-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .cartlist-title {
      font-size: 16px;
      font-weight: 600;
    }
    .cartlist-value {
      font-size: 14px;
    }
  }
}
.cartlist-orderBtn {
  background-color: #c6c6c6;
  margin: 50px;
  width: 500px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}
