.storeTag-margin {
  margin-right: 25px;

  .storeTag-frame {
    width: 120px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #8d8d8d;
    box-shadow: 2px 2px 2px #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;

    .storeTag-text {
    }
  }
}
