.storeReview-header {
  text-align: center;
  margin: 20px;

  .storeReview-title {
    display: flex;
    width: 560px;
    align-items: center;
    justify-content: center;
    .storeReview-titleText {
      font-size: 24px;
      width: 500px;
    }
  }
  .storeReview-average {
    margin-top: 20px;
    font-size: 14px;
  }
  .storeReview-rateValue {
    font-size: 36px;
  }
  .storeReview-rateStars {
    margin: 5px;
  }
  .storeReview-num {
    font-size: 14px;
  }
}

.storeReview-review {
  margin: 0 20px;
}
