.PostDetail {

    .postDetail-menuBar {
        margin-top: 20px;
    }

    .postDetail-comment {
        width: 560px;
        height: 730px;
        padding: 5px 10px;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 20px;
    }
}