.myReview-header {
  text-align: center;
  margin: 20px;
  width: 560px;
  
  .myReview-title {
    align-items: center;
    .myReview-titleText {
      font-size: 24px;
    }
  }
  .myReview-average {
    margin-top: 20px;
    font-size: 14px;
  }
  .myReview-rateValue {
    font-size: 36px;
  }
  .myReview-rateStars {
    margin: 5px;
  }
  .myReview-num {
    font-size: 14px;
  }
}
.myReview-noReview {
  margin-top: 200px;
}