.ReviewUpload {
  .reviewUpload-header {
    width: 600px;
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;

    .reviewUpload-headerTitle {
      height: 60px;
      display: flex;
      font-size: 24px;
      font-weight: 800;
      margin: 0 20px;
      align-items: center;
      justify-content: flex-start;
    }
    .reviewUpload-rate {
      margin-top: 18px;
    }
    
  }
  .reviewUpload-title {
    width: 600px;
    height: 45px;
    border-bottom: 1px solid lightgray;

    .reviewUpload-inputTitle {
      width: 540px;
      border: none;
      font-size: 20px;
      margin-top: 12.5px;
      margin-left: 30px;
    }
    .reviewUpload-inputTitle::placeholder {
      color: lightgray;
    }
  }
  .reviewUpload-inputMain {
    margin-top: 20px;
    height: 480px;
    border-bottom: 1px solid lightgray;

    .reviewUpload-inputForm {
      border: none;
      width: 540px;
      height: 430px;
      resize: none;
      font-size: 16px;
      margin-left: 30px;
    }
    .reviewUpload-inputForm:focus {
      outline: none;
    }
    .reviewUpload-inputForm::placeholder {
      color: lightgray;
    }

    .reviewUpload-etcIcons {
      display: flex;
      align-items: center;
      margin-left: 30px;

      .reviewUpload-photo {
        .reviewUpload-img {
          width: 200px;
          height: 140px;
          top: -120px;
          left: 350px;
          z-index: 10;
          object-fit: cover;
          position: relative;
        }
        .reviewUpload-imgUpload {
          display: none;
        }

        .reviewUpload-photoIcon {
          width: 30px;
          height: 30px;
          margin-right: 30px;
          position: relative;
          top: -120px;
          left: -200px;
        }
      }
    }
  }
  .reviewUpload-button {
    width: 600px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;

    .reviewUpload-uploadButton {
      width: 350px;
      height: 50px;
      font-size: 20px;
      color: white;
      background-color: black;
      border-radius: 5px;
    }
  }
}
