.searchRank {
  display: flex;
  height: 24px;
  margin-top: 20px;
  .searchRank-num {
    width: 30px;
    text-align: center;
    font-size: 16px;
  }
  .searchRank-text {
    width: 380px;
    font-size: 16px;
  }
  .searchRank-icon {

  }
}
