.StoreUpload {
  font-size: 18px;

  .storeUpload-addAddress {
    position: absolute;
    z-index: 1000;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    width: 500px;
    height: 480px;
    background-color: white;
    .storeUpload-addAddress-header {
      margin: 5px;
    }
  }

  .storeUpload-header {
    width: 600px;

    .storeUpload-pageTitle {
      width: 600px;
      font-size: 28px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .storeUpload-fieldFrame {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .storeUpload-checkedList {
        display: flex;
        .storeUpload-packaging {
          display: flex;
          margin-right: 35px;
          .storeUpload-packagingCheck {
            font-size: 18px;
            margin-right: 10px;
          }
          .storeUpload-packagingChecked {
            width: 20px;
          }
        }
        // 매장 운영 여부
        .storeUpload-status {
          display: flex;

          .storeUpload-statusCheck {
            font-size: 18px;
            margin-right: 10px;
          }
          .storeUpload-statusChecked {
            width: 20px;
          }
        }
      }
      .storeUpload-title {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      // 매장 대분류
      .storeUpload-categoryDropdown {
        display: flex;
        margin: 20px 0;
        .storeUpload-mainCategory {
          width: 300px;
          height: 40px;
          display: flex;
          font-size: 14px;
          padding-left: 10px;
          border-radius: 2px;
          align-items: center;
          border: 1px solid gray;
          background-color: white;
          position: relative;

          .storeUpload-dropdownIcon {
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            padding-top: 10px;
            padding-right: 10px;
            margin-left: 20px;
            position: absolute;
            border-radius: 2px;
          }
        }
        .storeUpload-dropdownMenu {
          width: 300px;
          height: 190px;
          border-radius: 0 0 5px 5px;
          background-color: white;
          position: absolute;
          top: 210px;
          text-align: center;
          border: 1px solid #c6c6c6;
          * {
            width: 300px;
            height: 30px;
            align-items: center;
            padding: 5px;
            font-size: 14px;
          }
        }
      }
      // 매장 주소
      .storeUpload-address {
        width: 300px;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: 1px solid gray;
        background-color: white;
        font-size: 14px;
        padding: 10px;
        .storeUpload-addressName {
          width: 270px;
        }
        .storeUpload-addressBtn {
          width: 30px;
        }
      }
      // 매장 이름
      .storeUpload-name {
        .storeUpload-storeName {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }

      // 매장 번호
      .storeUpload-number {
        .storeUpload-phoneNumber {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 매장 설명
      .storeUpload-description {
        .storeUpload-storeDescription {
          width: 300px;
          height: 80px;
          padding: 10px;
        }
      }
      // 매장 최소 주문 금액
      .storeUpload-deliverPrice {
        .storeUpload-deliverMinPrice {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 픽업 최소 주문 금액
      .storeUpload-pickupPrice {
        .storeUpload-pickupMinPrice {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 픽업 최소 주문 금액
      .storeUpload-deliverTime {
        .storeUpload-deliverTime {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 매장 최소 픽업 시간
      .storeUpload-pickupTime {
        .storeUpload-pickupMinTime {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 매장 영업 시작 시간
      .storeUpload-start {
        .storeUpload-startTime {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 매장 영업 마감 시간
      .storeUpload-end {
        .storeUpload-endTime {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }
      // 매장 영업 시간 설명
      .storeUpload-timeInfo {
        .storeUpload-timeInformation {
          width: 300px;
          height: 80px;
          padding: 10px;
        }
      }
      // 매장 배달 요금
      .storeUpload-operating {
        .storeUpload-operatingTime {
          width: 300px;
          height: 40px;
          padding-left: 10px;
        }
      }

      //매장 이미지
      .storeUpload-image {
        width: 300px;
        .storeUpload-imageDisplay {
          width: 300px;
          height: 100px;
          object-fit: cover;
        }
        .storeUpload-imageInput {
        }
      }
    }

    .storeUpload-uploadBtn {
      width: 600px;
      text-align: center;
      margin-top: 50px;

      .storeUpload-storeUploadBtn {
        border-radius: 5px;
        width: 300px;
        height: 50px;
        color: white;
        margin-bottom: 20px;
        background-color: black;
      }
    }
    .storeUpload-deleteBtn {
      width: 600px;
      text-align: center;

      .storeUpload-storeDeleteBtn {
        border-radius: 5px;
        width: 300px;
        height: 50px;
        color: white;
        margin-bottom: 20px;
        background-color: #ca0000;
      }
    }
  }
}
