.searchRecord {
  display: flex;
  width: 120px;
  height: 30px;
  border: 1px solid #8d8d8d;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #c6c6c6;

  .searchRecord-text {
    font-size: 14px;
  }
  .searchRecord-delete {
    position: absolute;
    left: 95px;
  }
}
