.Category {
  .category-frame {
    position: relative;
    .category-imgBlock {
      width: 60px;
      height: 60px;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      .category-img {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .category-name {
      margin-top: 5px;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-family: 'Pretendard-Regular';
      text-align: center;
      margin-bottom: 10px;
    }
    .category-selected {
      position: absolute;
      left: -5px;
      width: 70px;
      height: 1px;
      border: 2px solid black;
      border-radius: 50px;
      z-index: 10;
    }
  }
}
