.SearchBar {
  width: 100%;

  .searchBar-frame {
    width: 560px;
    height: 50px;
    margin-left: 20px;

    .searchBar-margin {
      width: 555px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;

      .searchBar-location {
        width: 120px;
        display: flex;
        align-items: center;
        margin-top: 5px;
        justify-content: space-between;

        .searchBar-locaIcon {
          width: 24px;
          height: 24px;
        }
        .searchBar-locaName {
          font-size: 14px;
          font-family: 'Pretendard-Regular';
          font-weight: 400;
          font-style: normal;
        }
        .searchBar-arrowIcon {
          width: 24px;
          height: 24px;
        }
      }

      .searchBar-input {
        margin-top: 5px;

        .searchBar-inputBox {
          width: 360px;
          height: 40px;
          border: 1px solid rgb(202, 202, 202);
          border-radius: 50px;
          background-color: white;
          display: flex;
          align-items: center;
          position: relative;

          .searchBar-searchIcon {
            right: 0;
            width: 24px;
            height: 24px;
            float: right;
            margin-right: 10px;
            position: absolute;
          }
        }
      }

      .searchBar-etcIcon {
        width: 60px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        // background-color: aquamarine;

        .searchBar-heartIcon {
          width: 24px;
          height: 24px;
        }
            }
          }
        }
      }
    .searchBar-locaList {
      width: 300px;
      z-index: 10;
      background-color: white;
      position: absolute;
      top: 120px;
      border: 1px solid #c6c6c6;
      border-radius: 5px;
      text-align: center;
      .searchBar-loca {
        width: 280px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        &.selected {
          background-color: #c6c6c6;;
        }
        &.control {
          background-color: #8d8d8d;
        }
      }
    
    }