.search {
  margin: 10px 0;
  .search-content {
    margin: 0 20px;
    .search-title {
      font-size: 24px;
      margin: 20px 0;
    }
    .search-store {
      display: flex;
      justify-content: space-between;
    }
  }
}
