.LogoBar {
    width: 100%;
    background-color: aquamarine;


    .logoBar-frame {
        width: 600px;
        height: 10vh;
        background-color: black;
        margin: 0 auto;
        
        .logoBar-margin {
            width: 560px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            .logoBar-homeIcon {
                width: 24px;
                height: 24px;
                color: white;
            }
            .logoBar-logoText {
                font-size: 24px;
                color: white;
            }
            .logoBar-userIcon {
                width: 24px;
                height: 24px;
                color: white;
            }            
        }

    }
}